<div class="modal-dialog mt-5">
  <div class="modal-content">
    <div class="modal-header ">
      <h5 class="modal-title"> Edit Profile </h5>
    </div>
    <div class="modal-body">
      <% if flash["sign-up-error"] %>
        <div class="alert alert-danger" role="alert">
          <%= flash["sign-up-error"] %>
        </div>
      <% end %>
      <%= render partial: "sessions/form", locals: {
                   title: "Save",
                   path: { url: user_path, method: :put },
                   fields: [:name, :email],
                 } %>
    </div>
    <div class="modal-footer justify-content-center">
    </div>
  </div>
</div>
