<div class="col-12 m-auto ps-1">
  <div id="Pending Orders">
    <h3>Pending Orders</h3>
    <div class="pt-2 px-3">
      <%= render partial: "list", locals: { orders: @orders.pending } %>
    </div>
  </div>
  <div id="Delevered Orders" class="pt-2">
    <h3>Delevered Orders</h3>
    <div class="pt-2 px-3">
      <%= render partial: "list", locals: { orders: @orders.delevered } %>
    </div>
  </div>
  <div id="Cancled Orders" class="pt-2">
    <h3>Cancled Orders</h3>
    <div class="pt-2 px-3">
      <%= render partial: "list", locals: { orders: @orders.canceled } %>
    </div>
  </div>
</div>
