<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <% image_tag "home.svg" %>
      <i class="bi bi-house-fill" ></i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% MenuCategory.all.each do |catagory| %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=<%= "#" + catagory.name %> ><%= catagory.name %></a>
          </li>
        <% end %>
      </ul>
      <hr>
      <% if @current_user %>
        <div class="d-flex justify-content-around px-3">
          <div class="px-3">
            <ul class="navbar-nav me-md-3 mb-3 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" data-bs-placement="bottom" aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                  <%= @current_user.name %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="px-3">
            <div class="d-inline-flex">
              <%= link_to "Sign-out", destroy_sessions_path, method: :delete, class: "btn btn-outline-warning" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-center px-3">
          <button type="button" class="btn btn-success mx-3" data-bs-toggle="modal" data-bs-target="#sign-in-Modal"> Sign In </button>
        </div>
      <% end %>

    </div>
  </div>
</nav>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid justify-content-center">
    <form class="d-flex">
      <input class="form-control me-2" placeholder="Search for Menu Item" name="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
